{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container pt-4">
        <div class="col-lg-5 shadow mx-auto p-0 mt-4">
            <div class="alert alert-info"><h2>Create Account</h2></div>
            <div class="p-4">
                <form method="post" action="/signup">
                    {% csrf_token %}
                    {{ form|crispy }}
                <hr>
                <input class="btn btn-info" type="submit" value="Create Account">
                </form>
            </div> 
    </div>
    
{% endblock %}
    
    

   